@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", serif;
    /* border: 1px solid white; */
}

:root {
    --green-clr: #DFFE02;
    --gray-clr: #898989;
    --dark-blue-clr: #171C22;

}

.bg-green {
    background: var(--green-clr);
}

.bg-dark {
    background: var(--dark-blue-clr);
}

.txt-green {
    color: var(--green-clr);
}

.txt-gray {
    color: var(--dark-blue-clr);
}

.mybtn {
    padding: .5rem 1.6rem;
    border: .1rem solid var(--green-clr) !important;

}

.mybtn:hover {
    background: transparent;
    color: var(--green-clr) !important;
}

.navbar-toggler-icon {
    background-image: url("data: image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' %3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22' /%3e%3c/svg%3e");
    width: 3rem;
}

.navbar-logo {
    height: 40px;
    /* Adjust this value as needed */
    width: auto;
    /* Maintain aspect ratio */
    margin-right: 10px;
    /* Space between logo and brand text */
    color: white;
}

.nav-link {
    color: white;
}

.image-container {
    background: gold;
    width: 32rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border-top: 1rem solid white;
    border-bottom: 1rem solid white;
    background-image: url(4.avif);
    background-position: center;
    background-size: 115%;
    box-shadow:
        0 0 1rem white,
        inset 0 0 1rem white,
        0 0 2rem var(--green-clr),
        inset 0 0 2rem var(--green-clr),
        0 0 7rem var(--green-clr),
        0 0 4rem var(--green-clr);


}

.hero-section {
    min-height: 88vh;
}

h1 {
    font-family: "Merriweather Sans", serif;
    font-size: 4rem;
}

p {
    font-size: .95rem;
}

.para {
    max-width: 500px;
}

@media screen and (max-width:680px) {
    h1 {
        font-size: 2.8rem;
    }

    .image-container {
        width: 20rem;
    }

    .hero-section {
        max-width: 72vh;
    }

    .about-me {
        width: 24rem;
    }

    form {
        width: 32rem;
    }

}

.main-txt {
    letter-spacing: .2rem;
    font-size: .8rem;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-me {
    width: 35rem;
    /* Ensures the image fills the container */
    max-width: 300px;
    /* Set a maximum width */
    height: 300px;

}



.glow {
    position: relative;
}

.glow::before {
    content: "";
    background: var(--green-clr);
    position: absolute;
    inset: 10px;
    /* Adjusted inset for glow size */
    border-radius: 50%;
    z-index: -1;
    /* Behind the content */
    filter: blur(70px);
    /* Smooth glow effect */
}

.section-container {
    padding-block: 4rem;
    /* Consistent padding */
}


.hoverrr:hover {
    background: var(--green-clr);
    cursor: pointer;
}

.hoverrr:hover * {
    color: black !important
}

.mycard {
    width: 21rem;
    transition: transform.5s ease-in-out;
}

.mycard:hover {
    transform: scale(1.1);
}

.card-img-top {
    width: 100%;
    /* Ensures it spans the card's width */
    height: 200px;
    /* Fixed height for uniformity */
    object-fit: cover;
    /* Scales the image without distorting */
    border-radius: 5px;
    /* Optional: adds smooth edges to images */
}

.blog-card {
    width: 21rem;

}

form {
    width: 32rem;
}

.form-control {
    border: .1rem solid var(--gray-clr);
}

.form-control:focus {
    box-shadow: none;
    border: .1rem solid var(--gray-clr);
}

#floatingTextarea {
    resize: none;
    height: 20vh;
}

.line {
    background: rgba(255, 255, 255, 0.309);
    height: .1rem;
    width: 100%;
}

.profile {

    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

.profile img {
    width: 110%;
    height: 100%;
    object-fit: cover;
}
.prev,
.next{
    font-size: 1.2rem;
    padding: .5rem .6rem;
border-radius: 50%;
}